<h2> Client List</h2>

<div *ngIf="errorMessage" class="alert alert-danger mt-2">
    {{ errorMessage }}
</div>

<table class = "table table-striped">
    <thead>
        <tr>
            <th> CPF </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Status </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let client of clients" >
            <td> {{ client.cpf }} </td>
            <td> {{ client.clientFirstName }} </td>
            <td> {{ client.clientLastName }} </td>
            <td>
                <span [ngclass]="client.status ? 'text-sucess' : 'text-danger'">
                    {{ client.status ? 'Active' : 'Inactive' }}
                </span>
            </td>
            <td>
                <button (click) = "clientDetails(client.id)" class = "btn btn-info details-btn"> View</button>
                <button (click) = "updateClient(client.id)" class = "btn btn-info update-btn" style="margin-left: 10px"> Update</button>
                <button (click) = "deleteClient(client.id)" class = "btn btn-danger delete-btn" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
