<h2> Client List</h2>

<div *ngIf="errorMessage" class="alert alert-danger mt-2">
    {{ errorMessage }}
</div>

<div class="d-flex gap-3 mt-2">
    <a routerLink="/create-client" class="btn btn-primary">
        + Add Client
    </a>
</div>

<table class = "table table-striped mt-4">
    <thead>
        <tr>
            <th> ID </th>
            <th> CPF </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Status </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let client of clients" >
            <td> {{ client.id }} </td>
            <td> {{ client.cpf }} </td>
            <td> {{ client.firstName }} </td>
            <td> {{ client.lastName }} </td>
            <td>
                <span [ngClass]="client.status ? 'text-success' : 'text-danger'">
                    {{ client.status ? 'Active' : 'Inactive' }}
                </span>
            </td>
            <td>
                <button (click) = "clientDetails(client.id)" class = "btn btn-info details-btn"> View Details</button>
                <button (click) = "updateClient(client.id)" class = "btn btn-info update-btn" style="margin-left: 10px"> Update</button>
                <button *ngIf="client.status" (click)="deactivateClient(client.id)" class="btn btn-warning" style="margin-left: 10px">Deactivate</button>
                <button *ngIf="!client.status" (click)="activateClient(client.id)" class="btn btn-success" style="margin-left: 10px">Activate</button>
                <button (click) = "deleteClient(client.id)" class = "btn btn-danger delete-btn" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
