<div class="col-md-6 offset-md-3">
    <h3> Update Airline </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Airline Name</label>
            <input type="text" class ="form-control" id = "airlineName"
                [(ngModel)] = "airline.airlineName" name = "airlineName">
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger mt-2">
            {{ errorMessage }}
        </div>
    
        <button class = "btn btn-success" type ="submit" [disabled]="isSubmitting">Submit</button>
    
    </form>
    </div> 