<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="/flightapp" routerLinkActive="active" class="nav-link" style="margin-left: 380px">
                Home
            </a>
        </li>
    </ul>
</nav>
<div class = "container mt-4">
    <router-outlet></router-outlet>
</div>

<footer class = "footer text-center mt-5">
    <div class="container">
        <span>Github: @regls</span>
    </div>
</footer>
